body {
    background-color: aquamarine;
    font-family: cursive;
    color: black;
    font-size: 20px;
}

.header {
    text-align: center;
}

.game-card {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 306px;
    width: 306px;
    margin: 0 auto;
    background-color: beige;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    line-height: 100px;
    font-size: 80px;
    text-align: center;
}

.game-status {
    text-align: center;
}

.game-reset {
    display: block;
    margin: 0 auto;
}